<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aslan.aslan.artbooktesting">


    <application android:allowBackup="false">
        <activity
            android:name=".HiltTestActivity"
            android:exported="false" />

    </application>

</manifest>